<div class="row">
  <h3>Hi! I'm Alex.</h3>

  <p>I'm a full stack web developer with a focus on infosec.</p>

  <p>I've done a lot of prototype development using Ruby on Rails and Backbone. Today I'm solving problems in multiplatform development and testing for a large REDHAWK SDR application.</p>

  <p>When I'm away from computers I've been known to climb rocks, race cars, and read books.</p>

  <p>I'm moving to Chicago in early 2016.</p>
</div> <!-- /row -->
